:root{
    --100: 100%;
    --70 : 70%;
    --vert-logo: #569878;
    --jaune-logo: #f2d847; 
    --jaune-logo-clair: #fff2b0; 
    --the-font: 'Nunito Sans', sans-serif;
    --tel-screen: 720px;
    --pad-screen: 900px;
    --horizontal-pad-screen: 1024px;
}